.agent {
  max-width: 1920px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  @include fluid-size("height", 320px, 1920px, 150px, 900px);
  @include fluid-size("margin-top", 320px, 1920px, 13px, 76px);

  @include fluid-size("padding-left", 320px, 1920px, 5px, 28px);
  @include fluid-size("padding-right", 320px, 1920px, 5px, 28px);

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
