.footer {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @include fluid-size("margin-top", 320px, 1920px, 5px, 40px);

  &__top {
    @include fluid-size("padding-top", 320px, 1920px, 10px, 36px);
    @include fluid-size("padding-bottom", 320px, 1920px, 10px, 36px);
    @include fluid-size("padding-left", 320px, 1920px, 17px, 100px);
    @include fluid-size("padding-right", 320px, 1920px, 17px, 100px);
    background: #202139;

    background: #202139;
    width: 100%;
    display: flex;
    align-items: center;
    @include fluid-size("column-gap", 864px, 1920px, 20px, 40px);
    @include tablets {
      flex-wrap: wrap;
      row-gap: 10px;
      justify-content: center;
    }

    &-left {
      width: 15%;
      @include tablets {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-text {
        color: #fff;
        font-family: "BentonSans-Regular";
        @include fluid-type(320px, 1920px, 6px, 35px);
      }

      &-border {
        border: 1px solid #ffffff;
        @include tablets {
          width: 100px;
          border: 0.5px solid #ffffff;
        }
        @include phones {
          border: 0.2px solid #fff;
        }
      }
    }
    &-middle {
      width: 69%;
      display: flex;
      justify-content: space-between;

      @include phones {
        width: 100%;
      }

      input {
        width: 30%;
        @include fluid-size("height", 320px, 1920px, 9px, 49px);
        background: none;
        border: 2px solid #ffffff;
        @include fluid-size("padding-left", 320px, 1920px, 5px, 29px);
        @include phones {
          border: 0.5px solid #ffffff;
        }
        &::placeholder {
          font-size: 8px;
          @include fluid-type(320px, 1920px, 7px, 20px);
          overflow: unset;
          top: 50%;
          transform: translate(0, -50%);
          position: absolute;
        }
      }
    }
    &-right {
      width: 16%;
      background: lightcoral;
      display: flex;
      align-items: center;

      button {
        width: 100%;
        border: none;
        @include fluid-size("height", 320px, 1920px, 9px, 49px);
        background: #fff;
        color: #202139;
        @include fluid-type(320px, 1920px, 5px, 20px);
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    @include fluid-size("column-gap", 320px, 1920px, 6px, 36px);
    @include fluid-size("padding-top", 320px, 1920px, 9px, 52px);
    @include fluid-size("padding-bottom", 320px, 1920px, 9px, 52px);
    @include fluid-type(320px, 1920px, 4px, 22px);

    &-left {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      &-wrapper {
        @include fluid-size("width", 320px, 1920px, 45px, 271px);
        @include fluid-size("height", 320px, 1920px, 7px, 42px);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &-right {
      width: 50%;
      font-family: "BentonSans-Regular";
    }
  }
}
