.gallery-container {
  @include tablets {
    display: none;
  }
  // margin-bottom: 190px;
  // height: 720px;
  position: relative;
  padding: 0;

  &__for-sale {
    position: absolute;
    font-family: "FreightBigMediumRegular";
    font-size: 30px;
    z-index: 300;
    @include fluid-type(385px, 1920px, 20px, 38px);
    right: 70px;
    @include fluid-size(" line-height", 385px, 1920px, 49px, 72px);
    text-transform: uppercase;
  }

  &__square {
    position: absolute;
    z-index: 200;
    right: 0;
    top: 0;
    @include fluid-size("width", 385px, 1920px, 250px, 325px);
    @include fluid-size("hight", 385px, 1920px, 49px, 72px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    height: 150px;
    width: 100%;
    background: #fff;
    opacity: 0.75;
    position: absolute;
    bottom: 0;
    z-index: 3333;
    font-size: 40px;
    display: flex;
    align-items: center;
    @include fluid-size("padding-left", 385px, 1920px, 60px, 180px);
    @include fluid-size("padding-right", 385px, 1920px, 60px, 180px);

    &-left {
      // background: coral;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      color: #0c223f;
      font-family: "FreightBigMediumRegular";
      @include fluid-type(385px, 1920px, 25px, 66px);
    }
    &-right {
      // background: silver;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include fluid-type(385px, 1920px, 13px, 30px);
      padding-top: 30px;
      padding-bottom: 30px;

      & * {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
      }
    }

    @include tablets {
      display: none;
    }
  }

  @include tablets {
    padding-top: 0px;
    width: 70%;
    margin: 0 auto;
  }

  @include phones {
    padding-top: 0px;
    height: auto;
    // background-color: #fff;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 107px;
  }

  // &__for-sale {
  //   position: absolute;
  //   z-index: 200;
  //   font-size: 200px;
  //   color: blue;
  // }
}

.glide {
  position: relative;
  z-index: 1;

  &__img {
    height: 700px;
    object-fit: cover;
    // for IE
    transition: transform 0.2s linear;
    font-family: "object-fit: cover;";

    @include laptops {
      height: 450px;
    }

    @include tablets {
      height: 300px;
    }

    @include phones {
      height: 206px;
    }
  }

  &__slides {
    // margin-bottom: 25px;
    position: relative;
    display: flex;
    // top: 25px;
  }

  &__arrow {
    @include fluid-size("width", 864px, 1920px, 40px, 50px);
    @include fluid-size("height", 864px, 1920px, 40px, 50px);
    background-color: $theme;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    // bottom: 251px;
    @include fluid-size("bottom", 865px, 1920px, 170px, 251px);
    margin-top: -29px;
    cursor: pointer;
    transition: 0.3s;

    @include tablets {
      width: 25px;
      height: 25px;
      top: 52%;
    }

    @include phones {
      width: 25px;
      height: 25px;
      margin-top: 0;
    }

    &:hover {
      background-color: #202139;
      opacity: 0.8;
      transition: 0.3s;
    }

    &:hover .glide__arrow-icon {
      color: #fff;
      transition: 0.3s;
    }

    &-icon {
      color: #2f322e;
      font-size: 40px;

      // @include tablets {
      //   font-size: 25px;
      // }

      // @include phones {
      //   font-size: 25px;
      // }
    }

    &--prev {
      right: 130px;
    }

    &--next {
      right: 62px;
    }
  }

  // &__bullet {
  //   width: 10px;
  //   height: 10px;
  //   border-radius: 50%;
  //   border: solid 1.5px #fff;
  //   margin: 0 5px;
  //   cursor: pointer;
  //   &--active {
  //     background-color: #fff;
  //   }
  // }

  // &__bullets {
  //   display: flex;
  //   justify-content: center;
  //   position: relative;
  //   top: 60px;

  //   @include tablets {
  //     top: 40px;
  //   }

  //   @include phones {
  //     top: 35px;
  //   }
  // }
}

.fa-angle-left {
  margin-left: -2px;
  @include phones {
    margin-left: -2px;
    margin-top: -1.5px;
  }
}

.fa-angle-right {
  margin-right: -5px;
  @include phones {
    margin-right: -4px;
    margin-top: -1px;
  }
}
